@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import "../../node_modules/@radix-ui/themes/styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.placeholder-italic::placeholder {
  font-style: italic;
  padding-left: 8px;
  font-weight: 400;
}

/* input {
  accent-color: auto;
  display: block;
  width: 16px;
  height: 16px;
} */

input.custom {
  accent-color: #3399FF;
  border-radius: 4px;
  accent-color: auto;
}

.onboard-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 12px;
}

.onboard-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5a5f5c;
  padding-left: 20rem;
  padding-right: 20rem;
}

.container {
  border: 1px solid #e7e7e8;
  /* padding: ; */
  transition: border-color 0.3s ease;
}

.tweak {
  min-width: 0px;
}

.border-color-light-blue {
  border-color: #3399ff;
}

.border-color-weird-black {
  border-color: #b5b5b5;
}

.custom-separator {
  background-color: #cecfce;
  height: 30px;
  width: 2px;
}

.chart-width {
  width: 41.3rem;
}

.rounded {
  border-radius: 4px;
}

input:focus,
.search:focus {
  outline: none;
  border: none;
}

.custom-accordion-item {
  background-color: #f8f8f8 !important;
  border: none;
}

.placeholder-left {
  padding-left: 3rem;
}

.icon {
  width: 25px;
  height: 25px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #080f0b;
}

.close {
  width: 13px;
  height: 13px;
  color: #080f0b;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.bg-background-image {
  background-image: url("../assets/background-image.png");
  background-size: contain;
  height: 95vh;
  width: 50vw;
  overflow: hidden;
}

.reg-1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.reg-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.reg-3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.reg-4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.med-1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.med-2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.med-3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.med-4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.semi-1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.semi-2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.semi-3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.semi-4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.bold-1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.bold-2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.bold-3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.bold-4 {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
