@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    font-family: 'Public Sans', sans-serif;
}

.placeholder-italic::placeholder {
  font-style: italic;
  padding-left: 8px;
}

/* input {
  accent-color: auto;
  display: block;
  width: 16px;
  height: 16px;
} */

input.custom {
  accent-color: green;
}

.onboard-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 2px;
}

.onboard-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5A5F5C;
  padding-left: 20rem;
  padding-right: 20rem;
}

/* .box {
  border: 2px solid green;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.clicked {
  border: 2px solid green;
  border-color: green;
} */

.container {
  border: 2px solid #e7e7e8;
    /* padding: ; */
    transition: border-color 0.3s ease; 
}

/* .container:hover {
  border-color: green;
} */

.border-color-green {
  border-color: green;
}

.custom-separator {
  background-color: #CECFCE;
  height: 30px;
  width: 2px;
}

.chart-width {
  width: 41.5rem;
}